<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>CloudStorage</h1>
    <div style="margin-left: 70%;"></div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/users']">Üyeler</button>
        <button mat-menu-item [routerLink]="['/filesadmin']">Dosyalar</button>
      </mat-menu>
      <a mat-button color="warn" (click)="Logout()"> Çıkış Yap</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" style="padding: 6%;">

  <mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.ID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Mail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mail
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.Mail}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Password">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Parola
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.Password}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rol
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.Rol}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Functions">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let x">
        <button mat-icon-button color="accent" matTooltip="Üye dosyaları" [routerLink]="['/userfiles', x.ID, x.Role]">
          <mat-icon aria-label="label">insert_drive_file</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Üye işlemleri" (click)="UpdateUser(x)">
          <mat-icon aria-label="label">manage_accounts</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>