<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>CloudStorage</h1>
    <div style="margin-left: 70%;"></div>
    <div>
      <a mat-button style="font-style: italic;">Merhaba {{user.Name | titlecase}}</a>
      <a mat-button color="warn" (click)="Logout()"> Çıkış Yap</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" style="text-align: center; padding: 6%;" *ngIf="files?.length == 0">
  <h1>Merhaba {{user.Name | titlecase}}! Henüz dosya yüklemediniz! <br><br> Şimdi yedeklemeye başlayın.</h1>
  <div class="container" style="text-align: center; margin-top: 5%;">
    <input type="file" hidden="true" #file (change)="SelectFile($event)">
    <button mat-raised-button color="accent" (click)="file.click()">Dosya Seç</button>
  
      <mat-form-field class="example-full-width"  style="margin-left: 3%;">
        <mat-label style="color: black;">Açıklama Ekleyin</mat-label>
        <textarea matInput #inputt type="text" [(ngModel)]="description"></textarea>
      </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="Upload(file)" [disabled]="!selected || !description" style="margin-left: 3%;">Yükle</button>&nbsp;
  </div>
</div>

<div class="container" style="padding: 6%;" *ngIf="files?.length > 0">

  <h2 style="color: darkblue;">Yüklü Dosyalarınız</h2>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
    <ng-container matColumnDef="Names">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dosya Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.Names}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ContentTypes">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dosya Tipi
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.ContentTypes}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dosya Açıklaması
      </mat-header-cell>
      <mat-cell *matCellDef="let x"> {{x.Description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Functions">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let x">
        <button mat-icon-button color="warn" matTooltip="Sil" (click)="DeleteFile(x.ID)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>

        <button mat-icon-button color="primary" matTooltip="İndir" (click)="DownloadFile(x.ID, x.ContentTypes, x.Names)">
          <mat-icon aria-label="label">file_download</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  <div class="container" style="text-align: center; margin-top: 5%;">
    <h2 style="color:black; margin-bottom: 4%;">Yeni dosyalar ekleyin...</h2>
    <input type="file" hidden="true" #file (change)="SelectFile($event)">
    <button mat-raised-button color="accent" (click)="file.click()">Dosya Seç</button>
  
    <!--<input matInput type="text" [(ngModel)]="description" style="width: 15vw;">-->
  
      <mat-form-field class="example-full-width"  style="margin-left: 3%;">
        <mat-label style="color: black;">Açıklama Ekleyin</mat-label>
        <textarea matInput #inputt type="text" [(ngModel)]="description"></textarea>
      </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="Upload(file)" [disabled]="!selected || !description" style="margin-left: 3%;">Yükle</button>&nbsp;
  </div>

</div>


